/* VARIANTE ORIGINAL */
:root {
  --bg-original01:  rgb(31, 31, 39);
  --bg-original02:  rgb(43, 43, 54);
  --texto-original: rgb(226, 226, 226);
}

/* VARIANTE PINK */
.pink-mode {
  --bg-rosa01: rgb(208, 118, 206);
  --bg-rosa02: rgb(226, 140, 225);
  --texto-rosa: rgb(148, 23, 146);
}

/* PINK-MODE */
.pink-mode {
  --bg-original01: rgb(208, 118, 206);
  --bg-original02: rgb(226, 140, 225);
  --texto-original: rgb(148, 23, 146);
}

/* .orange-mode {
  --bg-laranja: rgb(214, 137, 87);
  --texto-laranja: rgb(190, 94, 31);
}

.green-mode {
  --bg-verde: rgb(53, 110, 76);
  --texto-verde: rgb(29, 57, 40);
} */

body {
  background-color: var(--bg-original01);
  color: var(--texto-original);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  background-color: linear-gradient(var(--bg-original01), var(--bg-original02));
  box-shadow: 0px 0px 0px 2px var(--bg-original02);

  width: 350px;
  height: 350px;
  border-radius: 20px;

  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);

  line-height: 50px;
  text-align: center;
}

.titulo {
  font-size: 30px;
  margin-top: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cta {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ------- STYLE BUTTON ------- */
.btn{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  cursor: pointer; 
}

/* ------- PINK BUTTON ------- */
.pink-btn {
  background: rgb(208, 118, 206);
  box-shadow: 0px 0px 0px 2px rgb(206, 142, 205);
  color: var(--texto-rosa);
}

.pink-btn:hover {
  background: rgb(206, 142, 205);
}

/* ------- ORANGE BUTTON ------- */
.orange-btn {
  background: rgb(214, 137, 87);
  box-shadow: 0px 0px 0px 2px rgb(216, 150, 106);
}

.orange-btn:hover {
  background: rgb(216, 150, 106);
}

/* ------- GREEN BUTTON ------- */
.green-btn {
  background: rgb(53, 110, 76);
  box-shadow: 0px 0px 0px 2px rgb(70, 119, 90);
}

.green-btn:hover {
  background: rgb(70, 119, 90);
}